// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

body {
  background-color:#e9eae4;
}


.navbar.navbar-default.container {
  max-width: 1200px;
}

.col-sm-12 {
  background-color: white;
  padding-top:21px;
}
.header_top {
  display:flex;
  background-color:#ebede7;
  margin-left: -15px;
  margin-right: -15px;
  padding-left:10px;
  padding-top:7px;
  width: 250px
}

.header_top a {
  color: black;
  padding-left:10px;
  text-decoration:underline;
}

.header_top a:hover {
  text-decoration:none;
}
.menu-links {
  display: flex;
}

.header_top-right {
  display: flex;
  position: relative;
  right: -84%;
  top: -30px;
  width: 168px;
}

.right_header_menu {
  display:flex;
}

.right_header_menu a {
  color:black;
  padding-right:10px;
  text-decoration:underline;
}

.right_header_menu a:hover {
  text-decoration:none;
}

.header_social-1 {
  padding-top:5px;
  background:url('../images/social-h12.png');
  width:12px;
  height:12px;
  padding-right: 15px;
}

.header_social-2 {
  background:url('../images/social-h12.png');
  width:12px;
  height:12px;
  background-position:-15px top;
}

.social_links {
  display: flex;
  vertical-align: bottom;
  padding-top: 5px;
}

.social_links a {
  text-decoration:none;
}

.header_center {
  position:relative;
  background-color:#325192;
  margin-left: -15px;
  top: -30px;
  margin-right: -15px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  bottom: 87px;
  width: 25%;
  right: -73%;
}

.header_bottom ul {
  list-style-type:none;
  display:flex;
  margin-left:-38px;
}

.header_bottom li {
  padding-left:10px;
  padding-right:10px;
  border-left:2px white solid;
  line-height:30px;
}

.header_bottom a {
  color:black;
}

.header_bottom {
  position:relative;
  top: -77px;
  padding-left: 1px;
}

.region.region-navigation {
  height:150px;
}

.navbar.navbar-default.container {
  background-color: #ebede7;
}

.footer.container {
  background-color: #bbc3b4;
  position:relative;
  width:100%;
}

.footer_top {
  font-size: 13px;
  display: flex;
  width: 600px;
  padding-left: 200px;
}

.footer_menu {
  padding-left:20px;
}

.footer_menu a {
  color:black;
  text-decoration:underline;
  padding-right:10px;
}

.footer_top-right {
  display: flex;
  position: relative;
  left: 58%;
  width: 400px;
  top: -26px;
  margin-bottom: -26px;
}

.footer_social {
  height:26px;
  width:26px;
}

.footer_social-1 {
  background: url('../images/footer-social-h24.png');
  height:24px;
  width:24px;
}

.footer_social-2 {
  background: url('../images/footer-social-h24.png');
  height:24px;
  width:24px;
  background-position: 145px top;
}

.footer_social-3 {
  background: url('../images/footer-social-h24.png');
  height:24px;
  width:24px;
  background-position: 115px top;
}

.footer_social-4 {
  background: url('../images/footer-social-h24.png');
  height:24px;
  width:24px;
  background-position: 55px top;
}

.footer_social-5 {
  background: url('../images/social-instagram-ico.png');
  height:22px;
  width:22px;
}

.footer_top-right a {
  padding-left: 10px;
}

.footer_bottom {
  background-color: #829249;
  margin-bottom: -37px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0px;
  padding-top: 38px;
  text-align: justify;
  padding-left: 180px;
  padding-right: 180px;
  color:white;
  padding-bottom: 15px;
}

.footer {
  padding-top: 14px;
}

.region.region-content {
  background-color: white;
  padding: 15px;
  margin-top: -21px;
  float: left;
  width: 67%;
}

.social_icons {
  width:24px;
  height:24px;
}

.feed-icons {
  display:none;
}

.view-empty {
  display:none;
}

.content_second_col {
  background-color: white;
  width: 33%;
  float: left;
  margin-top: -21px;
}
.clear {
  clear:both;
}

a {
  color: darkblue;

}

.main_news {
  width:50%;
}

.main_news-title {
  font-size:22px;
}

.block-title {
  color: gray;
}

// Last News block =============================================
.region.region-content {
  .block-views-blockmain-page-list-all-news-block-block-1 {

    height: 20px;

    .views-view-grid.horizontal.cols-1.clearfix {
      width: 46%;
      position: relative;
      overflow: auto;
      height: 610px;
      float: right;
    }

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      width: 46%;
      position: relative;
      left: 54%;
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

    .view-footer {
      a {
        color: red;
      }
    }

    .views-row.clearfix {
      padding-bottom: 7px;
    }

  }

  .block-views-blockmain-page-news-block-block-1 {
    width: 50%;
    height: 260px;

    .views-row {
      span {
        color: #a3b0b8;
        margin: 3px 0 0px 0;
        font-size: 13px;
      }
    }
  }

  .image_table {
    width: 32%;
  }

  .view-id-main_page_news_block.view-display-id-block_1 {

    .views-row {
      padding-bottom: 10px;
    }
  }

  // Block Posts ===========================================

  .block-views-blockmain-page-posts-block-block-1 {

    width: 50%;

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

    .views-field.views-field-field-image-post {
      width: 40%;
    }

  }

  // Block Popular ================================================

  .block-views-blockmain-page-popular-block-block-1 {
    width: 45%;
    position: relative;
    left: 53%;
    bottom: 492px;

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

    .views-row {
      padding-bottom: 18px;
    }
  }


  .views-field.views-field-created {
    color: #a3b0b8;
    margin: 3px 0 0px 0;
    font-size: 13px;
  }

  // Block Style =====================================

  .block-views-blockmain-page-style-block-block-1 {
    margin-top: -500px;
    width: 50%;

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

    .views-field.views-field-field-image-style {
      width: 32%;
    }

    .view-footer {
      padding-left: 49%;

      a {
        color: red;
      }
    }
  }

  // BLock Photo ==============================================

  .block-views-blockmain-page-photo-block-block-1 {
    width: 47%;
    position: relative;
    left: 386px;
    bottom: 377px;

    .views-field {
      text-align: justify-all;
    }

    .img-responsive {
      padding-bottom: 10px;
    }

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }
  }

  // Block Traveler ===================================================

  .block-views-blockmain-page-travel-block-block-1 {
    width: 50%;
    margin-top: -380px;

    .views-field.views-field-field-image-notes {
      width: 32%;
    }

    .view-footer {
      padding-left: 40%;

      a {
        color: red;
      }
    }

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }
  }

  // Block Media ====================================================

  .block-views-blockmain-page-media-block-block-1 {
    width: 47%;
    position: relative;
    left: 386px;
    bottom: 377px;

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

    .views-field.views-field-field-video {
      padding-bottom: 10px;
    }
  }

  .block-poll-recent-block {
    width: 41%;
    position: relative;
    left: 386px;
    bottom: 377px;
    height: 86px;

    .block-title {
      font-size: 22px;
    }
  }
}

.region.region-content-second {

  // Block Stream ==========================================
  .block-views-blockmain-page-stream-block-block-1 {

    width: 93%;

    .block-title {
      font-size: 20px;
      color: gray;
    }
  }

  // Redactor Choice Block ==============================
  .block-views-blockmain-page-redactor-block-block-1 {

    width: 93%;

    .views-field.views-field-field-image-redactor {
      width:32%;
    }

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

    .view-footer {
      text-align: right;

      a {
        color: red;
      }
    }
  }

  // Author Block =====================================
  .block-views-blockmain-page-author-block-block-1 {
    width:93%;

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

    .views-field.views-field-user-picture {
      width:22%;
    }
  }

  // Pay Attention Block ===============================
  .block-views-blockmain-page-attention-block-block-1 {
    width: 93%;

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

    .views-field.views-field-field-image-attention {
      width:30%;
    }

    .view-footer {
      text-align: right;

      a {
        color:red;
      }
    }
  }

  // Blokc Popular - Sidebar ========================================
  .block-views-blockmain-page-popular-block-block-1 {
    width: 93%;

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

    .view-content {

      .views-row {
        padding-bottom: 8px;

      }
      a {
        text-align: justify-all;
      }

      .views-field.views-field-created {
        color: #a3b0b8;
        margin: 3px 0 0px 0;
        font-size: 13px;
      }
    }
  }

  // Block Last News - Sidebar =============================
  .block-views-blockother-pages-news-block-block-1 {
    width: 93%;

    .block-title {
      background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
      display: inline-block;
      padding-right: 10px;
    }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

    .view-content {

      .views-row {
        padding-bottom: 8px;

      }
      a {
        text-align: justify-all;
      }

      .views-field.views-field-created {
        color: #a3b0b8;
        margin: 3px 0 0px 0;
        font-size: 13px;
      }
    }
  }

  // Block Media - Sidebar ===================================
  .block-views-blockmain-page-media-block-block-1 {

    width:93%;
    padding-bottom: 10px;

    .block-title {
    background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
    display: inline-block;
    padding-right: 10px;
  }

    .block_title_line {
      background: url("../images/box-title-down-line.gif") repeat-x left 47px;
    }

  }
}


 // Node Display Styles ==============================

article {

  .author {
    color: gray;
    padding: 10px;
    float:left;
    width:90%;
  }

  .field--type-image {

    img {
      float:left;
      padding: 10px;
    }
  }

  .field--type-text-with-summary {
    padding: 10px;
  }

  .field--type-entity-reference {

    .field--label {
      color: gray;
      font-size:13px;
    }
    .field--item {
      font-size: 13px;
      display: inline;
    }
  }

  .comment_title {
    padding-top:30px;
  }
}

// News Page ===============================

.view-page-all-news-views {

  .views-row {
    padding-bottom: 20px;
  }

  .image_news_table {
    width:20%;
  }

  .time_news_table {
    padding-left:10px;
    color: gray;
    font-size:12px;
  }

  td {

      padding-left: 10px;
      text-align: justify;

  }
}

// Page articles =============================================
.view-page-articles-all-views {

  .views-row {
    display: flex;
    padding-bottom: 20px;
  }
  .img-responsive {
    max-width: inherit;
  }

  .articles_content {
    padding-left:20px;
  }

  .article_time {
    color:gray;
    font-size:13px;
  }
}

// Page Videos ===================================================
.view-page-videos-views {

  .views-row {
    padding-bottom: 20px;
  }

  .video-embed-field-provider-youtube.video-embed-field-responsive-video {
    width: 400px;
    height: 250px;
  }

  .views-field.views-field-title {
    width: 400px;
    font-size:18px;
  }
}

// All News Page =======================================
.view-page-all-news-views {

  .views-row {
    display: flex;
    padding-bottom: 20px;
  }
  .img-responsive {
    max-width: inherit;
  }

  .articles_content {
    padding-left:20px;
  }

  .article_time {
    color:gray;
    font-size:13px;
  }
}

// Blog Page =======================================

.view-page-blog-views {

  .views-row {
    padding-bottom: 20px;
  }

  .author_name {
    font-size:18px;
    text-align: center;
  }

  .time {
    color: gray;
    font-size: 13px;
    padding-left:10px;
  }

  span {
    padding-left:10px;
  }
}

.view-page-redactor-views {

  .views-field-field-image-redactor {
    width:16%;
  }

}

// Page Attention ===================================

.view-page-attention-view {

  .views-row {
    padding-bottom:25px;

    a {
      font-size:17px;
    }

    .time {
      color:gray;
      font-size:13px;
    }
  }


}

.test-social-share {
  display: flex;

  .test-social-share-label{
    font-size:22px;
  }

  .test-social-share-links {
    display: flex;

    .facebook-share  {
      display: flex;
      width:36px;
      height:36px;
      background: url("../images/facebook.png");
    }

    .twitter-share {
      display: flex;
      width:36px;
      height:36px;
      background: url("../images/twitter.png");
    }
  }
}

.block-currency {

  .block-title {
    background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
    display: inline-block;
    padding-right: 10px;
  }

  .block_title_line {
    background: url("../images/box-title-down-line.gif") repeat-x left 47px;
  }

  .currency__last-update {
    font-size:14px;
    color: gray;
    padding-bottom:5px;
  }

  .currency__next-update {
    font-size:14px;
    color: gray;
    padding-top:5px;
  }

  .currency__items {
    font-size: 23px;
    background-color: black;
    color: white;
    font-family: system-ui;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  .currency__item {
    border-bottom: 1px solid white;
  }
}

.block-weather {

  .report-container {
    border: 2px solid #2700ff2e;
    padding: 10px;
    border-radius: 20px;

  }
  .block-title {
    background: url("../images/box-title-down-line-upper.gif") repeat-x left 27px;
    display: inline-block;
    padding-right: 10px;
  }

  .block_title_line {
    background: url("../images/box-title-down-line.gif") repeat-x left 47px;
  }

  .weather-title {
    font-size:20px;
    text-align: center;
    font-weight: bold;
    padding-bottom:10px;
  }

  .time {
    font-size:14px;
    color: gray;
  }

  .weather-description {
    font-size: 18px;
    font-weight: bold;
  }

  .weather-forecast {
    display: inline;
    img {
      width:70px;
      height:70px;
      float:left;
    }

    .weather-temperature {
      font-size:16px;
      font-weight: bold;

    }
    .weather-feels {
      font-size:16px;
      font-weight: bold;
    }
  }

  .weather-other {
    font-size:16px;
    font-weight: bold;
  }

}

// Responsive settings for media =====================================================

@media (min-width: 1200px) {

  .block-views-blockmain-page-list-all-news-block-block-1 {
    .views-view-grid.horizontal.cols-1.clearfix {
      top: -450px;
    }

    .block_title_line {
      top:-452px;

    }

  }

  .block-views-blockmain-page-list-all-news-block-block-1 .view-footer {
    position: relative;
    top: 192px;
    left: 336px;
    text-align: right;
  }

  .region.region-content .image_table {
    width:32%;
  }

  .region.region-content .block-views-blockmain-page-travel-block-block-1 {
    margin-top: -360px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {

  article .author {
    color: gray;
    padding: 10px;
    float: left;
    width: 88%;
  }

  .block-views-blockmain-page-list-all-news-block-block-1 {
    .views-view-grid.horizontal.cols-1.clearfix {
      top: -400px;
    }

    .block_title_line {
      top:-400px;

    }

    .view-footer {
      position: relative;
      top: 222px;
      left: 266px;
      text-align: right;
    }
  }

  .region.region-content .image_table {
    width:40%;
  }

  .region.region-content .block-views-blockmain-page-popular-block-block-1 {
    bottom:550px;
  }

  .region.region-content .block-views-blockmain-page-style-block-block-1 {
    margin-top:-570px;
  }

  .region.region-content .block-views-blockmain-page-photo-block-block-1 {
    left: 314px;
    bottom: 365px;
  }

  .region.region-content .block-views-blockmain-page-travel-block-block-1 {
    margin-top: -355px;
  }

  .region.region-content .block-views-blockmain-page-media-block-block-1 {
    left: 320px;
    bottom: 400px;
  }

  .region.region-content .block-poll-recent-block {
    left: 318px;
    height: 118px;
  }

  .block-currency .currency__items {
    font-size:20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  article .author {
    color: gray;
    padding: 10px;
    float: left;
    width: 77%;
  }

  .header_top-right {
    display: flex;
    position: relative;
    right: -80%;
    top: -30px;
    width: 168px;
  }

  .header_bottom {
    position: relative;
    top: -77px;
    padding-left: 1px;
    font-size: 13px;
  }

  .block-views-blockmain-page-list-all-news-block-block-1 .block_title_line {
    top: -427px;
  }

  .block-views-blockmain-page-list-all-news-block-block-1 .views-view-grid.horizontal.cols-1.clearfix, .block-views-blockmain-page-list-all-news-block-block-1 .views-view-grid.horizontal.cols-1.filter-wrapper {
    top: -428px;
  }

  .region.region-content .image_table {
    width: 35%;
    padding-right: 7px;
    padding-bottom: 9px;
  }

  .block-views-blockmain-page-news-block-block-1 {
    tbody {
      font-size: 12px;
    }
  }

  .block-views-blockmain-page-list-all-news-block-block-1 {
    .view-footer {
      position: relative;
      top: 194px;
      left: 200px;
      text-align: right;
    }
  }

  .region.region-content .block-views-blockmain-page-popular-block-block-1 {
    width: 45%;
    position: relative;
    left: 53%;
    bottom: 605px;
  }

  .region.region-content .block-views-blockmain-page-style-block-block-1 {
    margin-top: -627px;
    width: 50%;
  }

  .region.region-content .block-views-blockmain-page-photo-block-block-1 {
    width: 47%;
    position: relative;
    left: 236px;
    bottom: 385px;
  }

  .region.region-content .block-views-blockmain-page-travel-block-block-1 {
    width: 50%;
    margin-top: -342px;
  }

  .region.region-content .block-views-blockmain-page-media-block-block-1 {
    width: 47%;
    position: relative;
    left: 243px;
    bottom: 475px;
  }

  .region.region-content .block-poll-recent-block {
    width: 41%;
    position: relative;
    left: 240px;
    bottom: 480px;
    height: 86px;
  }

  .region.region-content-second .block-views-blockmain-page-redactor-block-block-1 .block_title_line {
    background: url("../images/box-title-down-line.gif") repeat-x left 40px;
  }

  .region.region-content-second .block-views-blockmain-page-redactor-block-block-1 .block-title {
    background: url(../images/box-title-down-line-upper.gif) repeat-x left 20px;
    display: inline-block;
    padding-right: 10px;
    font-size: 24px;
  }

  .block-currency .currency__items {
    font-size: 23px;
    background-color: black;
    color: white;
    font-family: system-ui;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  .footer_top-right {
    display: flex;
    position: relative;
    left: 21%;
    width: 400px;
    top: -3px;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {

  article .author {
    color: gray;
    padding: 10px;
    float: left;
    width: 73%;
  }

  .navbar.navbar-default.container {
    max-width: 100%;
  }

  .header_top {
    display: flex;
    background-color: #ebede7;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 10px;
    padding-top: 7px;
    width: 250px;
    height: 60px;
  }

  .header_top-right {
    display: flex;
    position: relative;
    right: -11%;
    top: -30px;
    width: 168px;
  }
  .input-group {
    display: none;
  }

  .header_bottom {
    display:none
  }

  .col-sm-12 {
     padding-top: 0px;
  }

  .region.region-content {
    background-color: white;
    padding: 5px;
    margin-top: -21px;
    width: 108%;
    float: none;
  }

  .main_news {
    width: 100%;
  }

  .region.region-content .block-views-blockmain-page-list-all-news-block-block-1 {
    height: 600px;
  }

  .region.region-content .block-views-blockmain-page-list-all-news-block-block-1 .block_title_line {
    width: 100%;
    position: unset;
    background: url("../images/box-title-down-line.gif") repeat-x left 47px;
  }

  .region.region-content .block-views-blockmain-page-list-all-news-block-block-1 .views-view-grid.horizontal.cols-1.clearfix, .region.region-content .block-views-blockmain-page-list-all-news-block-block-1 .views-view-grid.horizontal.cols-1.filter-wrapper {
    width: 100%;
    position: relative;
    overflow: auto;
    height: 610px;
    float: unset;
  }

  .region.region-content .block-views-blockmain-page-news-block-block-1 {
    padding-top: 106px;
    width: 100%;
    height: 370px;
  }

  .region.region-content .image_table {
    width: 38%;
  }

  .region.region-content .block-views-blockmain-page-popular-block-block-1 {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
  }

  .region.region-content .block-views-blockmain-page-posts-block-block-1 {
    width: 100%;
  }

  .table-responsive > .table > thead > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > tfoot > tr > td {
    white-space: unset;
  }

  .region.region-content .block-views-blockmain-page-style-block-block-1 {
    margin-top: 0px;
    width: 100%;
  }

  .region.region-content .block-views-blockmain-page-travel-block-block-1 {
    width: 100%;
    margin-top: 0px;
  }

  .region.region-content .block-views-blockmain-page-photo-block-block-1 {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
  }

  .region.region-content .block-views-blockmain-page-media-block-block-1 {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
  }

  .region.region-content .block-poll-recent-block {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    height: 100%;
  }

  .content_second_col {
    background-color: white;
    width: 100%;
    float: unset;
    margin-top: 0;
  }

  .block-currency .currency__items {
    font-size: 23px;
    background-color: black;
    color: white;
    font-family: system-ui;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .block-weather {
    padding-bottom: 28px;
  }

  .footer_top {
    font-size: 13px;
    display: unset;
    width: 600px;
    padding-left: 0;
  }

  .footer_menu {
    padding-left: 0;
  }

  .footer_top-right {
    display: flex;
    position: relative;
    left: 0;
    width: 400px;
    top: 0;
    padding-top: 13px;
    margin-bottom: 0;
  }

  .footer_bottom {
    background-color: #829249;
    margin-bottom: -37px;
    margin-left: -15px;
    margin-right: -16px;
    margin-top: 0px;
    padding-top: 9px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    padding-bottom: 0;
  }
}


